<div class="sidepanel">
	<div class="category-nav">
		<h1><%= page.category %></h1>
		<nav>
			<% page.posts.each(function(post, i){ %>
		    <%- partial('_partial/category-post', {post: post, index: true}) %>
		  <% }) %>
	  </nav>
  </div>
</div>
<div class="mainpanel">
	<% if(!!theme.categoryimg[page.category]){ %>
		<%- image_tag(theme.categoryimg[page.category], {alt:"封面图片", id:"coverimg"}) %>
	<% } %>	
</div>