<div class="sidepanel"></div>
<div class="mainpanel">
	<%- image_tag("/images/banner.jpg", {alt:"封面图片", id:"faceimg"}) %>
	<% if (site.categories.length){ %>
	   <%- list_categories({show_count: theme.show_count}) %>
	<% } %>
</div>