@import "nib"

// Colors
color-red = #a00
color-font = #333
color-gray = #a0a0a0
catnav-bg = rgba(39,39,39,.7)
mainnav-bg-default = #cc002e
mainnav-bg-pink = rgba(220,0,45,.7)
mainnav-bg-none = rgba(0,0,0,.3)

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 1280px)"
mq-normal = "screen and (min-width: 1280px)"


global-reset()
a
  text-decoration none
a:link, a:visited, a:hover, a:active, a:focus
  outline none
  color color-font

/* BASIC STYLES*/
body
  font-size 16px

#sticker
  position fixed
  color color-gray
  font bold 0.875em/1.5 "Times New Roman",Serif,sans-serif
  padding 0 0.4em
  left 34%
  bottom 1em
  background color-red
  border 1px solid color-gray

#sticker:hover
  border-color white
  color white

#container
  margin 0.625em auto
  width 100%
  position relative
  background white
  overflow hidden

#main-nav
  position absolute
  left 0.4em
  top 0.4em
  a
    color color-gray
    font-size 0.875em
  a:hover
    color color-font

.sidepanel
  position relative
  margin-top 2em

.mainpanel
  margin-top 2em
  .main-wrap
    padding 1em 1em 3em

  #coverimg
    width 100%
    margin-bottom -4px

  .category-list
    li
      display inline-block
      a
        display block
        width 100%
        height 100%
        text-indent 1em
        font 2em/2 SimSun

/* BASIC STYLES*/

/* CATEGORY */
.category-nav
  text-align center

  h1
    margin-bottom 1em
    font 2em SimSun
  #archive-caption
    font-size 1em
    line-height 2.5em
  nav 
    .postname
      display inline-block
      position relative
      margin-left 5px
      width 80px
      height 80px
      overflow hidden

      img
        max-width 120px 
      a
        position absolute
        display block
        top 0
        left 0
        text-align left
        padding 5px
        width 70px
        height 70px
        color white
        font 0.875em SimSun
        background catnav-bg             
      a:hover
        background none

/* CATEGORY */

/* ARTICLE */
.mainpanel
  article
    .article-meta
      margin-bottom 1em
      text-align right
      time
        color color-gray
        font-size 0.75em
        font-style italic
    .article-inner 
      header h1
        font-size 1.25em
      .article-entry
        margin 2.5em 0
        line-height 2
        h1,h2,h3,h4,h5,h6
          font-weight bold
          line-height 2
          margin 1em 0
        img
          display block
          margin 1em 0

      footer
        .article-tag-list
          li
            display inline-block
            margin-right 0.4em
            a
              font-size 0.875em
              font-style italic
              color color-gray
            a:hover
              color color-font
    nav
      margin-top 1.25em
      a
        display block
        font-size 0.875em
        line-height 2
      a:hover
        color color-red
/* ARTICLE */

/* ARCHIVE */
  .archives-wrap
    margin-bottom 1.25em

    .archive-year-wrap
      a
        font italic 1.25em/2 SimSun
        color color-red
    .archives
      a
        font-size 0.875em
        line-height 2
      a:hover
        color color-red
/* ARCHIVE */

/* PAGINATION */
#page-nav
  margin-top 3em
  .page-number
  .extend
    font-style italic
    font-size 0.875em
    color color-gray
    margin-right 0.75em
  .current
  a:hover
    color color-red
/* PAGINATION */

@media mq-normal
  body
    background color-font

  #sticker
    position fixed
    color color-gray
    font bold 0.875em/1.5 "Times New Roman",Serif,sans-serif
    padding 0 0.4em
    left 34%
    bottom 1em
    background color-red
    border 1px solid color-gray

  .sidepanel
    position absolute
    right 64%
    left 1em
    top 1em
    margin-top 0

    .category-nav
      text-align right

      h1
        margin-bottom 1em
        font 5em SimSun

  .mainpanel
    width 63%
    min-height 540px
    position relative
    margin-left 37%
    overflow hidden
    margin-top 0

    .category-list
      position absolute
      top 0
      bottom 0
      left 0
      right 0

      li
        display block
        width 50%
        height 25%
        float left
        opacity 0
        background mainnav-bg-none
        transform(rotateY(180deg))
        transition(all, .8s, ease-in-out)

        a
          display block
          width 100%
          height 100%
          color white
          text-indent 1em
          font 3em/2 SimSun
      
      li:hover
        opacity 1
        background mainnav-bg-default
        background mainnav-bg-pink
        transform(rotateY(0deg))
  
  #main-nav
    left 1em
    top 1em

@media mq-mobile
  .article-entry
    img
      width 100% !important


